{% extends "layout.html" %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gallery.css') }}">
{% endblock style %}
{% block script %}
    <script>
        function toggle_tag_container() {
            var tag_container = document.getElementById("tag_container");
            if (tag_container.style.display === "block") {
                tag_container.style.display = "none";
            } else {
                tag_container.style.display = "block";
            }
        }
    </script>
{% endblock %}
{% block content %}
    <div class="button-container row justify-content-center" style="margin-top: 10px;">
        <button type="button" class="btn btn-secondary btn-sm col-2" onclick="toggle_tag_container()">Toggle Tag Container</button>
    </div>
    <div id="tag_container" class="content-section">
        {% for tagtype in tags %}
            <span style="font-size: 10px;">{{ tagtype }}:</span>
            {% for tag, tagcount in tags[tagtype] %}
                <a class="tags" href="{{ url_for('render_gallery', 
                                                 tag=tagtype+':'+tag, 
                                                 allbooks=allbooks, 
                                                 read=read) }}">
                    {{ tag }}
                    {% set percent = tagcount / maxcount %}
                    {% set count_color = "rgb(160, 160, 255)" %}
                    {% if percent < 0.25 %}
                        {% set count_color = "rgb(160, 255, 160)" %}
                    {% elif 0.25 <= percent < 0.5 %}
                        {% set count_color = "rgb(225, 255, 160)" %}
                    {% elif 0.5 <= percent < 0.75 %}
                        {% set count_color = "rgb(255, 225, 160)" %}
                    {% elif 0.75 <= percent < 1 %}
                        {% set count_color = "rgb(255, 160, 160)" %}
                    {% else %}
                        {% set count_color = "rgb(255, 255, 255)" %}
                    {% endif %}
                    <span style=" 
                            color: #222; 
                            padding: 0px 1px 0px 2px;
                            border-radius: 3px;
                            text-align: center;
                            background-color:{{ count_color }}; 
                            font-weight: bold;">
                        {{ tagcount }}
                    </span>
                </a>
            {% endfor %}
            <br />
        {% endfor %}
    </div>
    <div id="bookshelf" class="content-section row row-cols-3 row-cols-lg-5">
        {% for book in books[::-1] %}
            <div class="book_covers">
                <div class="book_titles">
                    <a href="{{ url_for('bookpage', book_id=book['_id'], contents=book['contents']) }}">
                        {{ book["title"] }}
                    </a>
                </div>
                <div class="book_thumbnails">
                    <a href="{{ url_for('bookpage', book_id=book['_id'], contents=book['contents']) }}">
                        <img class="thumbnails" src="{{ url_for('get_image', pid=book['thumbnail']) }}" alt="thumbnail">
                    </a>
                </div>
                <div class="book_cover_footers">
                    <div class="row justify-content-between">
                        <div class="col-8">{{ book["date_added"] }}</div><div class="col-4">{{ book["contents"] | length }} pages</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}