{% extends "layout.html" %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gallery.css') }}">
{% endblock style %}
{% block script %}
    <script>
        function toggle_tag_container() {
            var tag_container = document.getElementById("tag_container");
            if (tag_container.style.display === "block") {
                tag_container.style.display = "none";
            } else {
                tag_container.style.display = "block";
            }
        }
    </script>
{% endblock %}
{% block content %}
    <div class="button-container row justify-content-center" style="margin-top: 10px;">
        <button type="button" class="btn btn-secondary btn-sm col-2" onclick="toggle_tag_container()">Toggle Tag Container</button>
    </div>
    <div>
        {% if selected_tag %}
            {% set split_tags = selected_tag.split("+") %}
            {% for i in range(split_tags | length) %}
                {% set tag = '+'.join(split_tags[:i]+split_tags[i+1:]) %}
                {% if tag %}
                    {% set url = url_for('render_gallery', page=1, tag=tag, allbooks=allbooks, read=read) %}
                {% else %}
                    {% set url = url_for('gallery') %}
                {% endif %}
                <a class="tags" style="margin-right:5px" href="{{ url }}">
                    <span style="color: #222; 
                                 padding: 0px 2px 0px 3px;
                                 margin-right: 5px;
                                 border-radius: 5px;
                                 text-align: center;
                                 background-color:red; 
                                 font-weight: bold;">-
                    </span>
                    {{ split_tags[i] }}
                </a>
            {% endfor %}
        {% endif %}
    </div>
    <div id="tag_container" class="content-section">
        {% if selected_tag %}
            {% set tag_string = selected_tag + "+" %}
        {% else %}
            {% set tag_string = "" %}
        {% endif %}
        {% for tagtype in tagtypes %}
            <span style="font-size: 10px;">{{ tagtype }}:</span>
            {% for tag, tagcount in tagdict[tagtype] %}
                <a class="tags" href="{{ url_for('render_gallery', 
                                                 page=1, 
                                                 tag=tag_string+tagtype+':'+tag, 
                                                 allbooks=allbooks, 
                                                 read=read) }}">
                    {{ tag }}
                    {% set count_color = "rgb(160, 160, 255)" %}
                    {% if tagcount < maxcounts[0] %}
                        {% set count_color = "rgb(160, 255, 160)" %}
                    {% elif maxcounts[0] <= tagcount < maxcounts[1] %}
                        {% set count_color = "rgb(225, 255, 160)" %}
                    {% elif maxcounts[1] <= tagcount < maxcounts[2] %}
                        {% set count_color = "rgb(255, 225, 160)" %}
                    {% elif maxcounts[2] <= tagcount < maxcounts[3] %}
                        {% set count_color = "rgb(255, 160, 160)" %}
                    {% else %}
                        {% set count_color = "rgb(255, 255, 255)" %}
                    {% endif %}
                    <span style="color: #222; 
                                 padding: 0px 1px 0px 2px;
                                 border-radius: 3px;
                                 text-align: center;
                                 background-color:{{ count_color }}; 
                                 font-weight: bold;">
                        {{ tagcount }}
                    </span>
                </a>
            {% endfor %}
            <br />
        {% endfor %}
    </div>
    
    <div class="row justify-content-center" style="margin-top: 15px;">
        <div>
            <table class="page_button_bars pbb_table">
                <tr class="pbb_table">
                    {% if page > 1 %}
                        {% set prev_href = url_for('render_gallery', page=page-1, tag='None', allbooks=allbooks, read=read) %}
                        {% set lbutton = "background-color: initial;" %}
                    {% else %}
                        {% set prev_href = "#" %}
                        {% set lbutton = "background-color: #666;" %}
                    {% endif %}
                    {% if page < total_pages %}
                        {% set next_href = url_for('render_gallery', page=page+1, tag='None', allbooks=allbooks, read=read) %}
                        {% set rbutton = "background-color: initial;" %}
                    {% else %}
                        {% set next_href = "#" %}
                        {% set rbutton = "background-color: #666;" %}
                    {% endif %}
                    {% set page_start = ([([1, page - 4] | max), total_pages - 10] | min) %}
                    {% set page_end = ([([total_pages, page + 5] | min), 12] | max) %}
                    <td class="pbb_table" style="{{ lbutton }}"><a class="page_buttons" href="{{ prev_href }}">&lt;</a></td>
                    <td class="pbb_table" style="{{ lbutton }}"><a class="page_buttons" href="{{ url_for('render_gallery', page=1, tag='None', allbooks=allbooks, read=read) }}">1</a></td>
                    {% if page > 6 %}
                    <td class="pbb_table" style="padding: 0px 5px 0px 5px;"> . . . </td>
                    {% endif %}
                    {% for pb in range(page_start, page_end) %}
                        {% if 1 < pb < total_pages %}
                            {% if pb == page %}
                                {% set cbutton = "background-color: #666;" %}
                            {% else %}
                                {% set cbutton = "background-color: initial;" %}
                            {% endif %}
                            <td class="pbb_table" style="{{ cbutton }}"><a class="page_buttons" href="{{ url_for('render_gallery', page=pb, tag='None', allbooks=allbooks, read=read) }}">{{ pb }}</a></td>
                        {% endif %}
                    {% endfor %}
                    {% if page < total_pages - 5 %}
                    <td class="pbb_table" style="padding: 0px 5px 0px 5px;"> . . . </td>
                    {% endif %}
                    {% if total_pages > 1 %}
                        <td class="pbb_table" style="{{ rbutton }}"><a class="page_buttons" href="{{ url_for('render_gallery', page=total_pages, tag='None', allbooks=allbooks, read=read) }}">{{ total_pages }}</a></td>
                    {% endif %}
                    <td class="pbb_table" style="{{ rbutton }}"><a class="page_buttons" href="{{ next_href }}">&gt;</a></td>
                </tr>
            </table>
        </div>
    </div>

    <div id="bookshelf" class="content-section row row-cols-3 row-cols-lg-5">
        {% for book in books %}
            <div class="book_covers">
                <div class="book_titles">
                    <a href="{{ url_for('bookpage', book_id=book['_id']) }}">
                        {{ book["title"] }}
                    </a>
                </div>
                <div class="book_thumbnails">
                    <a href="{{ url_for('bookpage', book_id=book['_id']) }}">
                        <img class="thumbnails" src="{{ url_for('get_image', pid=book['thumbnail']) }}" alt="thumbnail">
                    </a>
                </div>
                <div class="book_cover_footers">
                    <div class="row justify-content-between">
                        <div class="col-8">{{ book["date_added"] }}</div><div class="col-4">{{ book["contents"] | length }} pages</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <div class="row justify-content-center" style="margin-bottom: 15px;">
        <div>
            <table class="page_button_bars pbb_table">
                <tr class="pbb_table">
                    <td class="pbb_table" style="{{ lbutton }}"><a class="page_buttons" href="{{ prev_href }}">&lt;</a></td>
                    <td class="pbb_table" style="{{ lbutton }}"><a class="page_buttons" href="{{ url_for('render_gallery', page=1, tag='None', allbooks=allbooks, read=read) }}">1</a></td>
                    {% if page > 6 %}
                    <td class="pbb_table" style="padding: 0px 5px 0px 5px;"> . . . </td>
                    {% endif %}
                    {% for pb in range(page_start, page_end) %}
                        {% if 1 < pb < total_pages %}
                            {% if pb == page %}
                                {% set cbutton = "background-color: #666;" %}
                            {% else %}
                                {% set cbutton = "background-color: initial;" %}
                            {% endif %}
                            <td class="pbb_table" style="{{ cbutton }}"><a class="page_buttons" href="{{ url_for('render_gallery', page=pb, tag='None', allbooks=allbooks, read=read) }}">{{ pb }}</a></td>
                        {% endif %}
                    {% endfor %}
                    {% if page < total_pages - 5 %}
                    <td class="pbb_table" style="padding: 0px 5px 0px 5px;"> . . . </td>
                    {% endif %}
                    {% if total_pages > 1 %}
                        <td class="pbb_table" style="{{ rbutton }}"><a class="page_buttons" href="{{ url_for('render_gallery', page=total_pages, tag='None', allbooks=allbooks, read=read) }}">{{ total_pages }}</a></td>
                    {% endif %}
                    <td class="pbb_table" style="{{ rbutton }}"><a class="page_buttons" href="{{ next_href }}">&gt;</a></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock content %}