#tag_container {
    display: none;
    padding: 0px 5px 5px 5px;
}

.page_button_bars {
    background-color: #333;
    font-size: 11pt;
}

.page_buttons, .page_buttons:hover {
    color: #ddd;
    padding: 3px 10px 3px 10px;
    text-decoration-line: none;
}

.page_buttons:hover {
    background-color: #666;
}

.pbb_table {
    padding: 0px;
    border: 1px solid #999;
}

#bookshelf {
    background: #333;
    border: 1px solid #999;
    padding: 0px;
    margin: 0px;
}

.book_covers {
    font-size: 8px;
    text-align: center;
    height: 300px;
    border: 1px solid #999;
    padding: 0px 5px 0px 5px;
}

.book_titles a {
    color: #ddd;
    display: block;
    height: 25px;
}

.book_titles a:hover {
    color: #fff;
}

.book_thumbnails{
    display: block;
    height: 260px;
}

.thumbnails {
    position: relative;
    max-width: 95%;
    max-height: 255px;
}

.book_cover_footers {
    position: relative;
    bottom: 0px;
}